/*///// btn menu /////*//*///// btn menu /////*//*///// btn menu /////*//*///// btn menu /////*//*///// btn menu /////*/
/*///// btn menu /////*//*///// btn menu /////*//*///// btn menu /////*//*///// btn menu /////*//*///// btn menu /////*/

.btn--white { /* for btn menu *//* for btn menu */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: $colour-white;
}

.btn__txt {
    font-size: map-get($font-size-roboto, basic-font);
    @include colour-grey-dark;
}