/*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*/
/*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*/
/*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*/
/*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*//*///// btn main /////*/

.btn-main {
    display: block;
    width: 220px; height: 50px;
    margin: auto;
    @include center;
    color: $colour-white;
    background: linear-gradient(to top left, $colour-primary, $colour-secondary);
    @include box-shadow;
    border-radius: 5rem;

    &:hover{
        @include box-shadow-dark;
        border: 2px solid $colour-primary;
        @include animationBtnOpacity;
    }
}