/*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*/
/*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*/
/*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*/
/*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*//*///// section menu container /////*/

.sectionMenu {
    width: 100%;
    margin-top: 2.185rem;
    @include desktop-only {
        width: 32.125%;
    }
}
    
.sectionMenu__heading{
    margin-bottom: 1.125rem;
    font-weight: map-get($font-weight, basic-bold);
    font-size: $font-size-clamp-menu;
    @include colour-grey-dark;

    &::after {
        content: "";
        display: block;
        width: 50px;
        margin-top: .315rem;
        border-bottom: .185rem solid $colour-tertiary;
    }
}

.sectionMenu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .625rem;
}

.sectionMenu__bottom {
    width: 100%; height: 120px;
    @include center;
    background-color: $colour-grey;
}
