/*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*/
/*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*/
/*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*/
/*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*//*///// header menu /////*/

.header__nav--btnHome {
    position: absolute;
    left: 30px;

    a {
        width: inherit; height: inherit;
        margin-bottom: 0%;
    }
}