/*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*/
/*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*/
/*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*/
/*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*//*///// aside menu /////*/

.asideMenu {
    width: 100%; height: 250px;
    
    img {
    width: 100%; height: 300px;
    object-fit: cover;
    }
}