/*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*/
/*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*/
/*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*/
/*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*//*///// article menu /////*/

.sectionMenu__container-main {
    width: 100%;
    @include desktop-only {
        display: flex;
        justify-content: space-between;
    }
}

.articleMenu {
    width: 100%;
    position: relative; /* for the border-radius */
    padding: 2.5rem 1.25rem 0rem 1.25rem;
    background-color: $colour-grey;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

.articleMenu__heading {
    position: relative; /* for the element "btn-heart" */

    .btn-heart {
        bottom: 0;
    }
}


.articleMenu__heading h1 {
    @include font-shrikhand;
    font-size: clamp(1rem, 6.5vw, map-get($font-shrikhand, big-font));
}

