/*///// footer /////*//*///// footer /////*//*///// footer /////*//*///// footer /////*//*///// footer /////*/
/*///// footer /////*//*///// footer /////*//*///// footer /////*//*///// footer /////*//*///// footer /////*/

.footer {
    width: 100%;
    padding: 20px;
    background-color: $background-footer;

    .footer__heading {
        margin-bottom: 20px;
        font-family: Shrikhand, sans-serif;
    }

    .footer__list {
        margin-bottom: 5px;
        
        .fa-footer {
            margin-right: 10px;
            font-size: .875em;
        }
    }
}

.footer__heading, .footer__list, .footer__list--link, .fa-footer {
    color: $colour-white;
}
