.footer {
    width: 100%;
    padding: 20px;
    background-color: $background-footer;

    .footer__heading {
        margin-bottom: 20px;
        font-family: Shrikhand, sans-serif;
        color: $colour-white;
    }

    .footer__list {
        margin-bottom: 5px;
        color: $colour-white;
        
        .fa-footer {
            margin-right: 10px;
            font-size: .875em;
        }

        .footer__list--link {
            color: $colour-white;
        }
    }
}