/*///// article home /////*//*///// article home /////*//*///// article home /////*//*///// article home /////*//*///// article home /////*/
/*///// article home /////*//*///// article home /////*//*///// article home /////*//*///// article home /////*//*///// article home /////*/

.articleHome {
    width: 100%; height: auto;
    padding: 50px 20px;

    #restaurants {
        margin-bottom: 30px;
    }
}